@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bodyBgColor: #f3f1fc
}

body {
  background-image: url("../public/bg-top.svg");
  background-repeat: no-repeat;
  background-position: 207px -170px;
  background-color: var(--bodyBgColor);
}

@media (min-width: 768px) {
  body {
    background-image: url("../public/bg-top.svg"), url("../public/bg-bottom.svg");
    background-position: right 0 top 0, left 0 bottom 0;
  }
}